
Vakor.DataBase/.idea/.idea.Vakor.DataBase/.idea/

Vakor.DataBase/Vakor.DataBase.ConsoleApp/bin/Debug/net5.0/ref/

Vakor.DataBase/Vakor.DataBase.Lib/obj/

Vakor.DataBase/Vakor.DataBase.Lib/bin/Debug/net5.0/

Vakor.DataBase/Vakor.DataBase.ConsoleApp/obj/

Vakor.DataBase/Vakor.DataBase.ConsoleApp/bin/Debug/net5.0/
